In [1]:
import pandas as pd
import numpy as np
import pickle

from sklearn.model_selection import train_test_split

In [2]:
# https://www.kaggle.com/yutkin/corpus-of-russian-news-articles-from-lenta
# Lenta.Ru dataset

data = pd.read_csv('data/lenta-ru-news.csv')

data = data[['title', 'tags']]
data = data.rename(columns={'title': 'text', 'tags': 'labels'})
data = data.dropna()

In [6]:
data.shape

(712837, 2)

In [8]:
data.sample(10)

                                                     text    labels
469893  Сбербанк и ВТБ попали в сотню самых дорогих фи...       Все
117851  Обама предложил Клинтону подбросить его домой ...  Общество
701196                В России подорожали почтовые услуги       Все
580283    Сын Тарзана судится за набедренную повязку отца       Все
59188   В Кремле опровергли нахождение Иванки Трамп в ...  Политика
58858   Слепого британца год судили за просмотр детско...  Интернет
201961  Космический зонд Dawn снова снял таинственные ...     Наука
488982  До конца года Россия выплатит кредиторам 48 ми...       Все
114507  Аналитики назвали причину удешевления квартир ...  Квартира
98418   Си Цзиньпин выступил за новые отношения с США ...  Политика

In [7]:
unique_labs, counts = np.unique(data['labels'].values, return_counts=True)

labs_to_save = unique_labs[counts > 1000]

print('labels left = ', len(labs_to_save))

data = data[np.isin(data['labels'], labs_to_save)]

In [11]:
labs_mapping = {lab: i for i, lab in enumerate(data['labels'].unique())}

data['labels'] = data['labels'].apply(lambda x: labs_mapping[x])

pickle.dump(labs_mapping, open('data/labs_mapping.pkl', 'wb'))

In [18]:
# valid is a new data
train, valid = train_test_split(data, stratify=data['labels'], test_size=0.25)

valid.to_csv('data/48labs/dataset.csv', index=False)

In [21]:
valid.shape

(174735, 2)